<section class="featured-blog py-5">
  <div class="container py-md-2">
    <div class="row g-lg-5">
      <div class="col-12 col-lg-4">
        <div class="text-center text-lg-start">
          <div class="mb-4 mb-lg-3">
            <h2 class="h1 fw-bold">{{ section.settings.title }}</h2>
            {% if section.settings.subtitle != blank %}
              <h6>{{ section.settings.subtitle }}</h6>
            {% endif %}
          </div>
          <a href="{{ section.settings.blog.url }}" class="btn px-0 mb-lg-5 d-lg-inline-block d-none">read the {{ section.settings.blog.title }}</a>
          <svg
            class="d-none d-lg-block w-100"
            width="424"
            height="115"
            viewBox="0 0 424 115"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
              d="M209.018 94.6286C232.108 135.609 257.959 101.64 272.64 83.5289C297.204 53.228 314.378 39.794 338.737 50.6573C363.095 61.5206 336.616 96.2534 318.631 77.0249C296.772 53.6545 320.153 6.4751 361.005 6.4751"
              stroke="#F26232"
              stroke-width="2" />
            <path
              d="M23.0992 23.1842C23.0992 73.6318 139.272 92.8081 139.272 18.9215C139.272 -1.32637 115.814 -4.16811 116.931 11.817C118.048 27.8021 173.672 32.2772 192.052 60.1274"
              stroke="#F26232"
              stroke-width="2" />
            <path d="M36.8411 11.4234V2.68164H43.9032C44.5309 2.68164 45.0441 2.80889 45.4428 3.06338C45.85 3.31786 46.1554 3.65294 46.359 4.06861C46.5626 4.48428 46.6644 4.9466 46.6644 5.45558C46.6644 5.98152 46.5286 6.47354 46.2572 6.93162C45.9942 7.38122 45.5913 7.7375 45.0484 8.00047L46.868 11.4234H44.3994L42.8597 8.39493H39.0424V11.4234H36.8411ZM39.0424 6.6644H43.2542C43.6105 6.6644 43.8904 6.55837 44.094 6.34629C44.3061 6.12573 44.4121 5.8458 44.4121 5.50648C44.4121 5.26895 44.3655 5.0696 44.2722 4.90843C44.1789 4.74725 44.0474 4.62425 43.8777 4.53942C43.708 4.45459 43.5002 4.41217 43.2542 4.41217H39.0424V6.6644Z" fill="#010101" />
            <path
              d="M36.8411 11.4234V2.68164H43.9032C44.5309 2.68164 45.0441 2.80889 45.4428 3.06338C45.85 3.31786 46.1554 3.65294 46.359 4.06861C46.5626 4.48428 46.6644 4.9466 46.6644 5.45558C46.6644 5.98152 46.5286 6.47354 46.2572 6.93162C45.9942 7.38122 45.5913 7.7375 45.0484 8.00047L46.868 11.4234H44.3994L42.8597 8.39493H39.0424V11.4234H36.8411ZM39.0424 6.6644H43.2542C43.6105 6.6644 43.8904 6.55837 44.094 6.34629C44.3061 6.12573 44.4121 5.8458 44.4121 5.50648C44.4121 5.26895 44.3655 5.0696 44.2722 4.90843C44.1789 4.74725 44.0474 4.62425 43.8777 4.53942C43.708 4.45459 43.5002 4.41217 43.2542 4.41217H39.0424V6.6644Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M36.8411 11.4234V2.68164H43.9032C44.5309 2.68164 45.0441 2.80889 45.4428 3.06338C45.85 3.31786 46.1554 3.65294 46.359 4.06861C46.5626 4.48428 46.6644 4.9466 46.6644 5.45558C46.6644 5.98152 46.5286 6.47354 46.2572 6.93162C45.9942 7.38122 45.5913 7.7375 45.0484 8.00047L46.868 11.4234H44.3994L42.8597 8.39493H39.0424V11.4234H36.8411ZM39.0424 6.6644H43.2542C43.6105 6.6644 43.8904 6.55837 44.094 6.34629C44.3061 6.12573 44.4121 5.8458 44.4121 5.50648C44.4121 5.26895 44.3655 5.0696 44.2722 4.90843C44.1789 4.74725 44.0474 4.62425 43.8777 4.53942C43.708 4.45459 43.5002 4.41217 43.2542 4.41217H39.0424V6.6644Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M36.8411 11.4234V2.68164H43.9032C44.5309 2.68164 45.0441 2.80889 45.4428 3.06338C45.85 3.31786 46.1554 3.65294 46.359 4.06861C46.5626 4.48428 46.6644 4.9466 46.6644 5.45558C46.6644 5.98152 46.5286 6.47354 46.2572 6.93162C45.9942 7.38122 45.5913 7.7375 45.0484 8.00047L46.868 11.4234H44.3994L42.8597 8.39493H39.0424V11.4234H36.8411ZM39.0424 6.6644H43.2542C43.6105 6.6644 43.8904 6.55837 44.094 6.34629C44.3061 6.12573 44.4121 5.8458 44.4121 5.50648C44.4121 5.26895 44.3655 5.0696 44.2722 4.90843C44.1789 4.74725 44.0474 4.62425 43.8777 4.53942C43.708 4.45459 43.5002 4.41217 43.2542 4.41217H39.0424V6.6644Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M36.8411 11.4234V2.68164H43.9032C44.5309 2.68164 45.0441 2.80889 45.4428 3.06338C45.85 3.31786 46.1554 3.65294 46.359 4.06861C46.5626 4.48428 46.6644 4.9466 46.6644 5.45558C46.6644 5.98152 46.5286 6.47354 46.2572 6.93162C45.9942 7.38122 45.5913 7.7375 45.0484 8.00047L46.868 11.4234H44.3994L42.8597 8.39493H39.0424V11.4234H36.8411ZM39.0424 6.6644H43.2542C43.6105 6.6644 43.8904 6.55837 44.094 6.34629C44.3061 6.12573 44.4121 5.8458 44.4121 5.50648C44.4121 5.26895 44.3655 5.0696 44.2722 4.90843C44.1789 4.74725 44.0474 4.62425 43.8777 4.53942C43.708 4.45459 43.5002 4.41217 43.2542 4.41217H39.0424V6.6644Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M36.8411 11.4234V2.68164H43.9032C44.5309 2.68164 45.0441 2.80889 45.4428 3.06338C45.85 3.31786 46.1554 3.65294 46.359 4.06861C46.5626 4.48428 46.6644 4.9466 46.6644 5.45558C46.6644 5.98152 46.5286 6.47354 46.2572 6.93162C45.9942 7.38122 45.5913 7.7375 45.0484 8.00047L46.868 11.4234H44.3994L42.8597 8.39493H39.0424V11.4234H36.8411ZM39.0424 6.6644H43.2542C43.6105 6.6644 43.8904 6.55837 44.094 6.34629C44.3061 6.12573 44.4121 5.8458 44.4121 5.50648C44.4121 5.26895 44.3655 5.0696 44.2722 4.90843C44.1789 4.74725 44.0474 4.62425 43.8777 4.53942C43.708 4.45459 43.5002 4.41217 43.2542 4.41217H39.0424V6.6644Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M29.5995 11.5761C28.4798 11.5761 27.5509 11.4064 26.8128 11.0671C26.0833 10.7278 25.5362 10.2442 25.1714 9.61649C24.8151 8.98874 24.637 8.24224 24.637 7.37698V2.68164H26.8383V7.27518C26.8383 8.08955 27.0758 8.72153 27.5509 9.17113C28.0344 9.61224 28.7173 9.8328 29.5995 9.8328C30.4817 9.8328 31.1604 9.61224 31.6354 9.17113C32.119 8.72153 32.3607 8.08955 32.3607 7.27518V2.68164H34.5493V7.37698C34.5493 8.24224 34.3712 8.98874 34.0149 9.61649C33.6586 10.2442 33.1115 10.7278 32.3734 11.0671C31.6439 11.4064 30.7193 11.5761 29.5995 11.5761Z" fill="#010101" />
            <path
              d="M29.5995 11.5761C28.4798 11.5761 27.5509 11.4064 26.8128 11.0671C26.0833 10.7278 25.5362 10.2442 25.1714 9.61649C24.8151 8.98874 24.637 8.24224 24.637 7.37698V2.68164H26.8383V7.27518C26.8383 8.08955 27.0758 8.72153 27.5509 9.17113C28.0344 9.61224 28.7173 9.8328 29.5995 9.8328C30.4817 9.8328 31.1604 9.61224 31.6354 9.17113C32.119 8.72153 32.3607 8.08955 32.3607 7.27518V2.68164H34.5493V7.37698C34.5493 8.24224 34.3712 8.98874 34.0149 9.61649C33.6586 10.2442 33.1115 10.7278 32.3734 11.0671C31.6439 11.4064 30.7193 11.5761 29.5995 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M29.5995 11.5761C28.4798 11.5761 27.5509 11.4064 26.8128 11.0671C26.0833 10.7278 25.5362 10.2442 25.1714 9.61649C24.8151 8.98874 24.637 8.24224 24.637 7.37698V2.68164H26.8383V7.27518C26.8383 8.08955 27.0758 8.72153 27.5509 9.17113C28.0344 9.61224 28.7173 9.8328 29.5995 9.8328C30.4817 9.8328 31.1604 9.61224 31.6354 9.17113C32.119 8.72153 32.3607 8.08955 32.3607 7.27518V2.68164H34.5493V7.37698C34.5493 8.24224 34.3712 8.98874 34.0149 9.61649C33.6586 10.2442 33.1115 10.7278 32.3734 11.0671C31.6439 11.4064 30.7193 11.5761 29.5995 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M29.5995 11.5761C28.4798 11.5761 27.5509 11.4064 26.8128 11.0671C26.0833 10.7278 25.5362 10.2442 25.1714 9.61649C24.8151 8.98874 24.637 8.24224 24.637 7.37698V2.68164H26.8383V7.27518C26.8383 8.08955 27.0758 8.72153 27.5509 9.17113C28.0344 9.61224 28.7173 9.8328 29.5995 9.8328C30.4817 9.8328 31.1604 9.61224 31.6354 9.17113C32.119 8.72153 32.3607 8.08955 32.3607 7.27518V2.68164H34.5493V7.37698C34.5493 8.24224 34.3712 8.98874 34.0149 9.61649C33.6586 10.2442 33.1115 10.7278 32.3734 11.0671C31.6439 11.4064 30.7193 11.5761 29.5995 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M29.5995 11.5761C28.4798 11.5761 27.5509 11.4064 26.8128 11.0671C26.0833 10.7278 25.5362 10.2442 25.1714 9.61649C24.8151 8.98874 24.637 8.24224 24.637 7.37698V2.68164H26.8383V7.27518C26.8383 8.08955 27.0758 8.72153 27.5509 9.17113C28.0344 9.61224 28.7173 9.8328 29.5995 9.8328C30.4817 9.8328 31.1604 9.61224 31.6354 9.17113C32.119 8.72153 32.3607 8.08955 32.3607 7.27518V2.68164H34.5493V7.37698C34.5493 8.24224 34.3712 8.98874 34.0149 9.61649C33.6586 10.2442 33.1115 10.7278 32.3734 11.0671C31.6439 11.4064 30.7193 11.5761 29.5995 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M29.5995 11.5761C28.4798 11.5761 27.5509 11.4064 26.8128 11.0671C26.0833 10.7278 25.5362 10.2442 25.1714 9.61649C24.8151 8.98874 24.637 8.24224 24.637 7.37698V2.68164H26.8383V7.27518C26.8383 8.08955 27.0758 8.72153 27.5509 9.17113C28.0344 9.61224 28.7173 9.8328 29.5995 9.8328C30.4817 9.8328 31.1604 9.61224 31.6354 9.17113C32.119 8.72153 32.3607 8.08955 32.3607 7.27518V2.68164H34.5493V7.37698C34.5493 8.24224 34.3712 8.98874 34.0149 9.61649C33.6586 10.2442 33.1115 10.7278 32.3734 11.0671C31.6439 11.4064 30.7193 11.5761 29.5995 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M17.0707 11.5759C15.9085 11.5759 14.899 11.3978 14.0423 11.0415C13.194 10.6852 12.5408 10.172 12.0827 9.50183C11.6246 8.82319 11.3956 8.00458 11.3956 7.046C11.3956 6.08742 11.6246 5.27306 12.0827 4.6029C12.5408 3.92426 13.194 3.41104 14.0423 3.06324C14.899 2.70695 15.9085 2.52881 17.0707 2.52881C18.2413 2.52881 19.2508 2.70695 20.0991 3.06324C20.9474 3.41104 21.6006 3.92426 22.0587 4.6029C22.5168 5.27306 22.7458 6.08742 22.7458 7.046C22.7458 8.00458 22.5168 8.82319 22.0587 9.50183C21.6006 10.172 20.9474 10.6852 20.0991 11.0415C19.2508 11.3978 18.2413 11.5759 17.0707 11.5759ZM17.0707 9.83266C17.5712 9.83266 18.0293 9.77752 18.4449 9.66724C18.8606 9.54848 19.2211 9.37882 19.5265 9.15826C19.8319 8.93771 20.0652 8.66201 20.2264 8.33117C20.396 7.99185 20.4809 7.61012 20.4809 7.18597V6.89331C20.4809 6.46916 20.396 6.09166 20.2264 5.76083C20.0652 5.42999 19.8319 5.15429 19.5265 4.93374C19.2211 4.71318 18.8606 4.54776 18.4449 4.43748C18.0293 4.31872 17.5712 4.25934 17.0707 4.25934C16.5702 4.25934 16.1121 4.31872 15.6964 4.43748C15.2808 4.54776 14.9203 4.71318 14.6149 4.93374C14.3095 5.15429 14.072 5.42999 13.9023 5.76083C13.7411 6.09166 13.6605 6.46916 13.6605 6.89331V7.18597C13.6605 7.61012 13.7411 7.99185 13.9023 8.33117C14.072 8.66201 14.3095 8.93771 14.6149 9.15826C14.9203 9.37882 15.2808 9.54848 15.6964 9.66724C16.1121 9.77752 16.5702 9.83266 17.0707 9.83266Z" fill="#010101" />
            <path
              d="M17.0707 11.5759C15.9085 11.5759 14.899 11.3978 14.0423 11.0415C13.194 10.6852 12.5408 10.172 12.0827 9.50183C11.6246 8.82319 11.3956 8.00458 11.3956 7.046C11.3956 6.08742 11.6246 5.27306 12.0827 4.6029C12.5408 3.92426 13.194 3.41104 14.0423 3.06324C14.899 2.70695 15.9085 2.52881 17.0707 2.52881C18.2413 2.52881 19.2508 2.70695 20.0991 3.06324C20.9474 3.41104 21.6006 3.92426 22.0587 4.6029C22.5168 5.27306 22.7458 6.08742 22.7458 7.046C22.7458 8.00458 22.5168 8.82319 22.0587 9.50183C21.6006 10.172 20.9474 10.6852 20.0991 11.0415C19.2508 11.3978 18.2413 11.5759 17.0707 11.5759ZM17.0707 9.83266C17.5712 9.83266 18.0293 9.77752 18.4449 9.66724C18.8606 9.54848 19.2211 9.37882 19.5265 9.15826C19.8319 8.93771 20.0652 8.66201 20.2264 8.33117C20.396 7.99185 20.4809 7.61012 20.4809 7.18597V6.89331C20.4809 6.46916 20.396 6.09166 20.2264 5.76083C20.0652 5.42999 19.8319 5.15429 19.5265 4.93374C19.2211 4.71318 18.8606 4.54776 18.4449 4.43748C18.0293 4.31872 17.5712 4.25934 17.0707 4.25934C16.5702 4.25934 16.1121 4.31872 15.6964 4.43748C15.2808 4.54776 14.9203 4.71318 14.6149 4.93374C14.3095 5.15429 14.072 5.42999 13.9023 5.76083C13.7411 6.09166 13.6605 6.46916 13.6605 6.89331V7.18597C13.6605 7.61012 13.7411 7.99185 13.9023 8.33117C14.072 8.66201 14.3095 8.93771 14.6149 9.15826C14.9203 9.37882 15.2808 9.54848 15.6964 9.66724C16.1121 9.77752 16.5702 9.83266 17.0707 9.83266Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M17.0707 11.5759C15.9085 11.5759 14.899 11.3978 14.0423 11.0415C13.194 10.6852 12.5408 10.172 12.0827 9.50183C11.6246 8.82319 11.3956 8.00458 11.3956 7.046C11.3956 6.08742 11.6246 5.27306 12.0827 4.6029C12.5408 3.92426 13.194 3.41104 14.0423 3.06324C14.899 2.70695 15.9085 2.52881 17.0707 2.52881C18.2413 2.52881 19.2508 2.70695 20.0991 3.06324C20.9474 3.41104 21.6006 3.92426 22.0587 4.6029C22.5168 5.27306 22.7458 6.08742 22.7458 7.046C22.7458 8.00458 22.5168 8.82319 22.0587 9.50183C21.6006 10.172 20.9474 10.6852 20.0991 11.0415C19.2508 11.3978 18.2413 11.5759 17.0707 11.5759ZM17.0707 9.83266C17.5712 9.83266 18.0293 9.77752 18.4449 9.66724C18.8606 9.54848 19.2211 9.37882 19.5265 9.15826C19.8319 8.93771 20.0652 8.66201 20.2264 8.33117C20.396 7.99185 20.4809 7.61012 20.4809 7.18597V6.89331C20.4809 6.46916 20.396 6.09166 20.2264 5.76083C20.0652 5.42999 19.8319 5.15429 19.5265 4.93374C19.2211 4.71318 18.8606 4.54776 18.4449 4.43748C18.0293 4.31872 17.5712 4.25934 17.0707 4.25934C16.5702 4.25934 16.1121 4.31872 15.6964 4.43748C15.2808 4.54776 14.9203 4.71318 14.6149 4.93374C14.3095 5.15429 14.072 5.42999 13.9023 5.76083C13.7411 6.09166 13.6605 6.46916 13.6605 6.89331V7.18597C13.6605 7.61012 13.7411 7.99185 13.9023 8.33117C14.072 8.66201 14.3095 8.93771 14.6149 9.15826C14.9203 9.37882 15.2808 9.54848 15.6964 9.66724C16.1121 9.77752 16.5702 9.83266 17.0707 9.83266Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M17.0707 11.5759C15.9085 11.5759 14.899 11.3978 14.0423 11.0415C13.194 10.6852 12.5408 10.172 12.0827 9.50183C11.6246 8.82319 11.3956 8.00458 11.3956 7.046C11.3956 6.08742 11.6246 5.27306 12.0827 4.6029C12.5408 3.92426 13.194 3.41104 14.0423 3.06324C14.899 2.70695 15.9085 2.52881 17.0707 2.52881C18.2413 2.52881 19.2508 2.70695 20.0991 3.06324C20.9474 3.41104 21.6006 3.92426 22.0587 4.6029C22.5168 5.27306 22.7458 6.08742 22.7458 7.046C22.7458 8.00458 22.5168 8.82319 22.0587 9.50183C21.6006 10.172 20.9474 10.6852 20.0991 11.0415C19.2508 11.3978 18.2413 11.5759 17.0707 11.5759ZM17.0707 9.83266C17.5712 9.83266 18.0293 9.77752 18.4449 9.66724C18.8606 9.54848 19.2211 9.37882 19.5265 9.15826C19.8319 8.93771 20.0652 8.66201 20.2264 8.33117C20.396 7.99185 20.4809 7.61012 20.4809 7.18597V6.89331C20.4809 6.46916 20.396 6.09166 20.2264 5.76083C20.0652 5.42999 19.8319 5.15429 19.5265 4.93374C19.2211 4.71318 18.8606 4.54776 18.4449 4.43748C18.0293 4.31872 17.5712 4.25934 17.0707 4.25934C16.5702 4.25934 16.1121 4.31872 15.6964 4.43748C15.2808 4.54776 14.9203 4.71318 14.6149 4.93374C14.3095 5.15429 14.072 5.42999 13.9023 5.76083C13.7411 6.09166 13.6605 6.46916 13.6605 6.89331V7.18597C13.6605 7.61012 13.7411 7.99185 13.9023 8.33117C14.072 8.66201 14.3095 8.93771 14.6149 9.15826C14.9203 9.37882 15.2808 9.54848 15.6964 9.66724C16.1121 9.77752 16.5702 9.83266 17.0707 9.83266Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M17.0707 11.5759C15.9085 11.5759 14.899 11.3978 14.0423 11.0415C13.194 10.6852 12.5408 10.172 12.0827 9.50183C11.6246 8.82319 11.3956 8.00458 11.3956 7.046C11.3956 6.08742 11.6246 5.27306 12.0827 4.6029C12.5408 3.92426 13.194 3.41104 14.0423 3.06324C14.899 2.70695 15.9085 2.52881 17.0707 2.52881C18.2413 2.52881 19.2508 2.70695 20.0991 3.06324C20.9474 3.41104 21.6006 3.92426 22.0587 4.6029C22.5168 5.27306 22.7458 6.08742 22.7458 7.046C22.7458 8.00458 22.5168 8.82319 22.0587 9.50183C21.6006 10.172 20.9474 10.6852 20.0991 11.0415C19.2508 11.3978 18.2413 11.5759 17.0707 11.5759ZM17.0707 9.83266C17.5712 9.83266 18.0293 9.77752 18.4449 9.66724C18.8606 9.54848 19.2211 9.37882 19.5265 9.15826C19.8319 8.93771 20.0652 8.66201 20.2264 8.33117C20.396 7.99185 20.4809 7.61012 20.4809 7.18597V6.89331C20.4809 6.46916 20.396 6.09166 20.2264 5.76083C20.0652 5.42999 19.8319 5.15429 19.5265 4.93374C19.2211 4.71318 18.8606 4.54776 18.4449 4.43748C18.0293 4.31872 17.5712 4.25934 17.0707 4.25934C16.5702 4.25934 16.1121 4.31872 15.6964 4.43748C15.2808 4.54776 14.9203 4.71318 14.6149 4.93374C14.3095 5.15429 14.072 5.42999 13.9023 5.76083C13.7411 6.09166 13.6605 6.46916 13.6605 6.89331V7.18597C13.6605 7.61012 13.7411 7.99185 13.9023 8.33117C14.072 8.66201 14.3095 8.93771 14.6149 9.15826C14.9203 9.37882 15.2808 9.54848 15.6964 9.66724C16.1121 9.77752 16.5702 9.83266 17.0707 9.83266Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M17.0707 11.5759C15.9085 11.5759 14.899 11.3978 14.0423 11.0415C13.194 10.6852 12.5408 10.172 12.0827 9.50183C11.6246 8.82319 11.3956 8.00458 11.3956 7.046C11.3956 6.08742 11.6246 5.27306 12.0827 4.6029C12.5408 3.92426 13.194 3.41104 14.0423 3.06324C14.899 2.70695 15.9085 2.52881 17.0707 2.52881C18.2413 2.52881 19.2508 2.70695 20.0991 3.06324C20.9474 3.41104 21.6006 3.92426 22.0587 4.6029C22.5168 5.27306 22.7458 6.08742 22.7458 7.046C22.7458 8.00458 22.5168 8.82319 22.0587 9.50183C21.6006 10.172 20.9474 10.6852 20.0991 11.0415C19.2508 11.3978 18.2413 11.5759 17.0707 11.5759ZM17.0707 9.83266C17.5712 9.83266 18.0293 9.77752 18.4449 9.66724C18.8606 9.54848 19.2211 9.37882 19.5265 9.15826C19.8319 8.93771 20.0652 8.66201 20.2264 8.33117C20.396 7.99185 20.4809 7.61012 20.4809 7.18597V6.89331C20.4809 6.46916 20.396 6.09166 20.2264 5.76083C20.0652 5.42999 19.8319 5.15429 19.5265 4.93374C19.2211 4.71318 18.8606 4.54776 18.4449 4.43748C18.0293 4.31872 17.5712 4.25934 17.0707 4.25934C16.5702 4.25934 16.1121 4.31872 15.6964 4.43748C15.2808 4.54776 14.9203 4.71318 14.6149 4.93374C14.3095 5.15429 14.072 5.42999 13.9023 5.76083C13.7411 6.09166 13.6605 6.46916 13.6605 6.89331V7.18597C13.6605 7.61012 13.7411 7.99185 13.9023 8.33117C14.072 8.66201 14.3095 8.93771 14.6149 9.15826C14.9203 9.37882 15.2808 9.54848 15.6964 9.66724C16.1121 9.77752 16.5702 9.83266 17.0707 9.83266Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M4.28815 11.4234V7.9114L0 2.68164H2.62124L5.38246 6.18087H5.5097L8.29636 2.68164H10.7904L6.48949 7.9114V11.4234H4.28815Z" fill="#010101" />
            <path
              d="M4.28815 11.4234V7.9114L0 2.68164H2.62124L5.38246 6.18087H5.5097L8.29636 2.68164H10.7904L6.48949 7.9114V11.4234H4.28815Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M4.28815 11.4234V7.9114L0 2.68164H2.62124L5.38246 6.18087H5.5097L8.29636 2.68164H10.7904L6.48949 7.9114V11.4234H4.28815Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M4.28815 11.4234V7.9114L0 2.68164H2.62124L5.38246 6.18087H5.5097L8.29636 2.68164H10.7904L6.48949 7.9114V11.4234H4.28815Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M4.28815 11.4234V7.9114L0 2.68164H2.62124L5.38246 6.18087H5.5097L8.29636 2.68164H10.7904L6.48949 7.9114V11.4234H4.28815Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M4.28815 11.4234V7.9114L0 2.68164H2.62124L5.38246 6.18087H5.5097L8.29636 2.68164H10.7904L6.48949 7.9114V11.4234H4.28815Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M414.94 11.4234V2.68164H423.898V4.41217H417.142V6.12998H423.109V7.83506H417.142V9.68011H424V11.4234H414.94Z" fill="#010101" />
            <path
              d="M414.94 11.4234V2.68164H423.898V4.41217H417.142V6.12998H423.109V7.83506H417.142V9.68011H424V11.4234H414.94Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M414.94 11.4234V2.68164H423.898V4.41217H417.142V6.12998H423.109V7.83506H417.142V9.68011H424V11.4234H414.94Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M414.94 11.4234V2.68164H423.898V4.41217H417.142V6.12998H423.109V7.83506H417.142V9.68011H424V11.4234H414.94Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M414.94 11.4234V2.68164H423.898V4.41217H417.142V6.12998H423.109V7.83506H417.142V9.68011H424V11.4234H414.94Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M414.94 11.4234V2.68164H423.898V4.41217H417.142V6.12998H423.109V7.83506H417.142V9.68011H424V11.4234H414.94Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M403.061 11.4234V2.68164H407.807C408.884 2.68164 409.809 2.8513 410.581 3.19062C411.353 3.52146 411.946 4.01347 412.362 4.66666C412.778 5.31137 412.986 6.10877 412.986 7.05886C412.986 8.00047 412.778 8.79788 412.362 9.45107C411.946 10.0958 411.353 10.5878 410.581 10.9271C409.809 11.2579 408.884 11.4234 407.807 11.4234H403.061ZM405.262 9.68011H407.692C408.133 9.68011 408.536 9.62921 408.901 9.52741C409.274 9.41713 409.597 9.2602 409.868 9.05661C410.14 8.84453 410.347 8.5858 410.492 8.28041C410.636 7.96654 410.708 7.60602 410.708 7.19883V6.90617C410.708 6.49899 410.636 6.1427 410.492 5.83731C410.347 5.52344 410.14 5.26471 409.868 5.06112C409.597 4.84904 409.274 4.68787 408.901 4.57759C408.536 4.46731 408.133 4.41217 407.692 4.41217H405.262V9.68011Z" fill="#010101" />
            <path
              d="M403.061 11.4234V2.68164H407.807C408.884 2.68164 409.809 2.8513 410.581 3.19062C411.353 3.52146 411.946 4.01347 412.362 4.66666C412.778 5.31137 412.986 6.10877 412.986 7.05886C412.986 8.00047 412.778 8.79788 412.362 9.45107C411.946 10.0958 411.353 10.5878 410.581 10.9271C409.809 11.2579 408.884 11.4234 407.807 11.4234H403.061ZM405.262 9.68011H407.692C408.133 9.68011 408.536 9.62921 408.901 9.52741C409.274 9.41713 409.597 9.2602 409.868 9.05661C410.14 8.84453 410.347 8.5858 410.492 8.28041C410.636 7.96654 410.708 7.60602 410.708 7.19883V6.90617C410.708 6.49899 410.636 6.1427 410.492 5.83731C410.347 5.52344 410.14 5.26471 409.868 5.06112C409.597 4.84904 409.274 4.68787 408.901 4.57759C408.536 4.46731 408.133 4.41217 407.692 4.41217H405.262V9.68011Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M403.061 11.4234V2.68164H407.807C408.884 2.68164 409.809 2.8513 410.581 3.19062C411.353 3.52146 411.946 4.01347 412.362 4.66666C412.778 5.31137 412.986 6.10877 412.986 7.05886C412.986 8.00047 412.778 8.79788 412.362 9.45107C411.946 10.0958 411.353 10.5878 410.581 10.9271C409.809 11.2579 408.884 11.4234 407.807 11.4234H403.061ZM405.262 9.68011H407.692C408.133 9.68011 408.536 9.62921 408.901 9.52741C409.274 9.41713 409.597 9.2602 409.868 9.05661C410.14 8.84453 410.347 8.5858 410.492 8.28041C410.636 7.96654 410.708 7.60602 410.708 7.19883V6.90617C410.708 6.49899 410.636 6.1427 410.492 5.83731C410.347 5.52344 410.14 5.26471 409.868 5.06112C409.597 4.84904 409.274 4.68787 408.901 4.57759C408.536 4.46731 408.133 4.41217 407.692 4.41217H405.262V9.68011Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M403.061 11.4234V2.68164H407.807C408.884 2.68164 409.809 2.8513 410.581 3.19062C411.353 3.52146 411.946 4.01347 412.362 4.66666C412.778 5.31137 412.986 6.10877 412.986 7.05886C412.986 8.00047 412.778 8.79788 412.362 9.45107C411.946 10.0958 411.353 10.5878 410.581 10.9271C409.809 11.2579 408.884 11.4234 407.807 11.4234H403.061ZM405.262 9.68011H407.692C408.133 9.68011 408.536 9.62921 408.901 9.52741C409.274 9.41713 409.597 9.2602 409.868 9.05661C410.14 8.84453 410.347 8.5858 410.492 8.28041C410.636 7.96654 410.708 7.60602 410.708 7.19883V6.90617C410.708 6.49899 410.636 6.1427 410.492 5.83731C410.347 5.52344 410.14 5.26471 409.868 5.06112C409.597 4.84904 409.274 4.68787 408.901 4.57759C408.536 4.46731 408.133 4.41217 407.692 4.41217H405.262V9.68011Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M403.061 11.4234V2.68164H407.807C408.884 2.68164 409.809 2.8513 410.581 3.19062C411.353 3.52146 411.946 4.01347 412.362 4.66666C412.778 5.31137 412.986 6.10877 412.986 7.05886C412.986 8.00047 412.778 8.79788 412.362 9.45107C411.946 10.0958 411.353 10.5878 410.581 10.9271C409.809 11.2579 408.884 11.4234 407.807 11.4234H403.061ZM405.262 9.68011H407.692C408.133 9.68011 408.536 9.62921 408.901 9.52741C409.274 9.41713 409.597 9.2602 409.868 9.05661C410.14 8.84453 410.347 8.5858 410.492 8.28041C410.636 7.96654 410.708 7.60602 410.708 7.19883V6.90617C410.708 6.49899 410.636 6.1427 410.492 5.83731C410.347 5.52344 410.14 5.26471 409.868 5.06112C409.597 4.84904 409.274 4.68787 408.901 4.57759C408.536 4.46731 408.133 4.41217 407.692 4.41217H405.262V9.68011Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M403.061 11.4234V2.68164H407.807C408.884 2.68164 409.809 2.8513 410.581 3.19062C411.353 3.52146 411.946 4.01347 412.362 4.66666C412.778 5.31137 412.986 6.10877 412.986 7.05886C412.986 8.00047 412.778 8.79788 412.362 9.45107C411.946 10.0958 411.353 10.5878 410.581 10.9271C409.809 11.2579 408.884 11.4234 407.807 11.4234H403.061ZM405.262 9.68011H407.692C408.133 9.68011 408.536 9.62921 408.901 9.52741C409.274 9.41713 409.597 9.2602 409.868 9.05661C410.14 8.84453 410.347 8.5858 410.492 8.28041C410.636 7.96654 410.708 7.60602 410.708 7.19883V6.90617C410.708 6.49899 410.636 6.1427 410.492 5.83731C410.347 5.52344 410.14 5.26471 409.868 5.06112C409.597 4.84904 409.274 4.68787 408.901 4.57759C408.536 4.46731 408.133 4.41217 407.692 4.41217H405.262V9.68011Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M398.513 11.4234V2.68164H400.714V11.4234H398.513Z" fill="#010101" />
            <path
              d="M398.513 11.4234V2.68164H400.714V11.4234H398.513Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M398.513 11.4234V2.68164H400.714V11.4234H398.513Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M398.513 11.4234V2.68164H400.714V11.4234H398.513Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M398.513 11.4234V2.68164H400.714V11.4234H398.513Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M398.513 11.4234V2.68164H400.714V11.4234H398.513Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M391.271 11.5761C390.151 11.5761 389.223 11.4064 388.484 11.0671C387.755 10.7278 387.208 10.2442 386.843 9.61649C386.487 8.98874 386.309 8.24224 386.309 7.37698V2.68164H388.51V7.27518C388.51 8.08955 388.747 8.72153 389.223 9.17113C389.706 9.61224 390.389 9.8328 391.271 9.8328C392.153 9.8328 392.832 9.61224 393.307 9.17113C393.791 8.72153 394.032 8.08955 394.032 7.27518V2.68164H396.221V7.37698C396.221 8.24224 396.043 8.98874 395.687 9.61649C395.33 10.2442 394.783 10.7278 394.045 11.0671C393.316 11.4064 392.391 11.5761 391.271 11.5761Z" fill="#010101" />
            <path
              d="M391.271 11.5761C390.151 11.5761 389.223 11.4064 388.484 11.0671C387.755 10.7278 387.208 10.2442 386.843 9.61649C386.487 8.98874 386.309 8.24224 386.309 7.37698V2.68164H388.51V7.27518C388.51 8.08955 388.747 8.72153 389.223 9.17113C389.706 9.61224 390.389 9.8328 391.271 9.8328C392.153 9.8328 392.832 9.61224 393.307 9.17113C393.791 8.72153 394.032 8.08955 394.032 7.27518V2.68164H396.221V7.37698C396.221 8.24224 396.043 8.98874 395.687 9.61649C395.33 10.2442 394.783 10.7278 394.045 11.0671C393.316 11.4064 392.391 11.5761 391.271 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M391.271 11.5761C390.151 11.5761 389.223 11.4064 388.484 11.0671C387.755 10.7278 387.208 10.2442 386.843 9.61649C386.487 8.98874 386.309 8.24224 386.309 7.37698V2.68164H388.51V7.27518C388.51 8.08955 388.747 8.72153 389.223 9.17113C389.706 9.61224 390.389 9.8328 391.271 9.8328C392.153 9.8328 392.832 9.61224 393.307 9.17113C393.791 8.72153 394.032 8.08955 394.032 7.27518V2.68164H396.221V7.37698C396.221 8.24224 396.043 8.98874 395.687 9.61649C395.33 10.2442 394.783 10.7278 394.045 11.0671C393.316 11.4064 392.391 11.5761 391.271 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M391.271 11.5761C390.151 11.5761 389.223 11.4064 388.484 11.0671C387.755 10.7278 387.208 10.2442 386.843 9.61649C386.487 8.98874 386.309 8.24224 386.309 7.37698V2.68164H388.51V7.27518C388.51 8.08955 388.747 8.72153 389.223 9.17113C389.706 9.61224 390.389 9.8328 391.271 9.8328C392.153 9.8328 392.832 9.61224 393.307 9.17113C393.791 8.72153 394.032 8.08955 394.032 7.27518V2.68164H396.221V7.37698C396.221 8.24224 396.043 8.98874 395.687 9.61649C395.33 10.2442 394.783 10.7278 394.045 11.0671C393.316 11.4064 392.391 11.5761 391.271 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M391.271 11.5761C390.151 11.5761 389.223 11.4064 388.484 11.0671C387.755 10.7278 387.208 10.2442 386.843 9.61649C386.487 8.98874 386.309 8.24224 386.309 7.37698V2.68164H388.51V7.27518C388.51 8.08955 388.747 8.72153 389.223 9.17113C389.706 9.61224 390.389 9.8328 391.271 9.8328C392.153 9.8328 392.832 9.61224 393.307 9.17113C393.791 8.72153 394.032 8.08955 394.032 7.27518V2.68164H396.221V7.37698C396.221 8.24224 396.043 8.98874 395.687 9.61649C395.33 10.2442 394.783 10.7278 394.045 11.0671C393.316 11.4064 392.391 11.5761 391.271 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M391.271 11.5761C390.151 11.5761 389.223 11.4064 388.484 11.0671C387.755 10.7278 387.208 10.2442 386.843 9.61649C386.487 8.98874 386.309 8.24224 386.309 7.37698V2.68164H388.51V7.27518C388.51 8.08955 388.747 8.72153 389.223 9.17113C389.706 9.61224 390.389 9.8328 391.271 9.8328C392.153 9.8328 392.832 9.61224 393.307 9.17113C393.791 8.72153 394.032 8.08955 394.032 7.27518V2.68164H396.221V7.37698C396.221 8.24224 396.043 8.98874 395.687 9.61649C395.33 10.2442 394.783 10.7278 394.045 11.0671C393.316 11.4064 392.391 11.5761 391.271 11.5761Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M378.411 11.5759C376.646 11.5759 375.319 11.2027 374.428 10.4562C373.546 9.70966 373.104 8.57718 373.104 7.05872C373.104 6.06622 373.329 5.23488 373.779 4.56473C374.237 3.88609 374.894 3.37711 375.751 3.03779C376.616 2.69847 377.651 2.52881 378.856 2.52881C379.619 2.52881 380.319 2.59667 380.955 2.7324C381.6 2.85965 382.16 3.059 382.635 3.33045C383.11 3.60191 383.475 3.94123 383.729 4.34841C383.984 4.75559 384.111 5.23488 384.111 5.78628H381.973C381.973 5.50634 381.889 5.26881 381.719 5.07371C381.558 4.8786 381.333 4.72166 381.045 4.6029C380.765 4.48414 380.442 4.39931 380.078 4.34841C379.721 4.28903 379.344 4.25934 378.945 4.25934C378.419 4.25934 377.936 4.31448 377.494 4.42476C377.053 4.52655 376.672 4.68773 376.349 4.90829C376.035 5.12036 375.789 5.39182 375.611 5.72265C375.442 6.05349 375.357 6.44371 375.357 6.89331V7.19869C375.357 7.82644 375.492 8.33541 375.764 8.72563C376.035 9.10737 376.421 9.38731 376.922 9.56545C377.422 9.74359 378.02 9.83266 378.716 9.83266C379.437 9.83266 380.035 9.76904 380.51 9.6418C380.994 9.51455 381.358 9.32792 381.604 9.08192C381.85 8.83591 381.973 8.54325 381.973 8.20393V8.11486H378.627V6.53702H384.124V11.4232H382.801L382.584 10.3162C382.262 10.6131 381.884 10.8549 381.452 11.0415C381.028 11.2196 380.557 11.3511 380.039 11.4359C379.53 11.5293 378.987 11.5759 378.411 11.5759Z" fill="#010101" />
            <path
              d="M378.411 11.5759C376.646 11.5759 375.319 11.2027 374.428 10.4562C373.546 9.70966 373.104 8.57718 373.104 7.05872C373.104 6.06622 373.329 5.23488 373.779 4.56473C374.237 3.88609 374.894 3.37711 375.751 3.03779C376.616 2.69847 377.651 2.52881 378.856 2.52881C379.619 2.52881 380.319 2.59667 380.955 2.7324C381.6 2.85965 382.16 3.059 382.635 3.33045C383.11 3.60191 383.475 3.94123 383.729 4.34841C383.984 4.75559 384.111 5.23488 384.111 5.78628H381.973C381.973 5.50634 381.889 5.26881 381.719 5.07371C381.558 4.8786 381.333 4.72166 381.045 4.6029C380.765 4.48414 380.442 4.39931 380.078 4.34841C379.721 4.28903 379.344 4.25934 378.945 4.25934C378.419 4.25934 377.936 4.31448 377.494 4.42476C377.053 4.52655 376.672 4.68773 376.349 4.90829C376.035 5.12036 375.789 5.39182 375.611 5.72265C375.442 6.05349 375.357 6.44371 375.357 6.89331V7.19869C375.357 7.82644 375.492 8.33541 375.764 8.72563C376.035 9.10737 376.421 9.38731 376.922 9.56545C377.422 9.74359 378.02 9.83266 378.716 9.83266C379.437 9.83266 380.035 9.76904 380.51 9.6418C380.994 9.51455 381.358 9.32792 381.604 9.08192C381.85 8.83591 381.973 8.54325 381.973 8.20393V8.11486H378.627V6.53702H384.124V11.4232H382.801L382.584 10.3162C382.262 10.6131 381.884 10.8549 381.452 11.0415C381.028 11.2196 380.557 11.3511 380.039 11.4359C379.53 11.5293 378.987 11.5759 378.411 11.5759Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M378.411 11.5759C376.646 11.5759 375.319 11.2027 374.428 10.4562C373.546 9.70966 373.104 8.57718 373.104 7.05872C373.104 6.06622 373.329 5.23488 373.779 4.56473C374.237 3.88609 374.894 3.37711 375.751 3.03779C376.616 2.69847 377.651 2.52881 378.856 2.52881C379.619 2.52881 380.319 2.59667 380.955 2.7324C381.6 2.85965 382.16 3.059 382.635 3.33045C383.11 3.60191 383.475 3.94123 383.729 4.34841C383.984 4.75559 384.111 5.23488 384.111 5.78628H381.973C381.973 5.50634 381.889 5.26881 381.719 5.07371C381.558 4.8786 381.333 4.72166 381.045 4.6029C380.765 4.48414 380.442 4.39931 380.078 4.34841C379.721 4.28903 379.344 4.25934 378.945 4.25934C378.419 4.25934 377.936 4.31448 377.494 4.42476C377.053 4.52655 376.672 4.68773 376.349 4.90829C376.035 5.12036 375.789 5.39182 375.611 5.72265C375.442 6.05349 375.357 6.44371 375.357 6.89331V7.19869C375.357 7.82644 375.492 8.33541 375.764 8.72563C376.035 9.10737 376.421 9.38731 376.922 9.56545C377.422 9.74359 378.02 9.83266 378.716 9.83266C379.437 9.83266 380.035 9.76904 380.51 9.6418C380.994 9.51455 381.358 9.32792 381.604 9.08192C381.85 8.83591 381.973 8.54325 381.973 8.20393V8.11486H378.627V6.53702H384.124V11.4232H382.801L382.584 10.3162C382.262 10.6131 381.884 10.8549 381.452 11.0415C381.028 11.2196 380.557 11.3511 380.039 11.4359C379.53 11.5293 378.987 11.5759 378.411 11.5759Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M378.411 11.5759C376.646 11.5759 375.319 11.2027 374.428 10.4562C373.546 9.70966 373.104 8.57718 373.104 7.05872C373.104 6.06622 373.329 5.23488 373.779 4.56473C374.237 3.88609 374.894 3.37711 375.751 3.03779C376.616 2.69847 377.651 2.52881 378.856 2.52881C379.619 2.52881 380.319 2.59667 380.955 2.7324C381.6 2.85965 382.16 3.059 382.635 3.33045C383.11 3.60191 383.475 3.94123 383.729 4.34841C383.984 4.75559 384.111 5.23488 384.111 5.78628H381.973C381.973 5.50634 381.889 5.26881 381.719 5.07371C381.558 4.8786 381.333 4.72166 381.045 4.6029C380.765 4.48414 380.442 4.39931 380.078 4.34841C379.721 4.28903 379.344 4.25934 378.945 4.25934C378.419 4.25934 377.936 4.31448 377.494 4.42476C377.053 4.52655 376.672 4.68773 376.349 4.90829C376.035 5.12036 375.789 5.39182 375.611 5.72265C375.442 6.05349 375.357 6.44371 375.357 6.89331V7.19869C375.357 7.82644 375.492 8.33541 375.764 8.72563C376.035 9.10737 376.421 9.38731 376.922 9.56545C377.422 9.74359 378.02 9.83266 378.716 9.83266C379.437 9.83266 380.035 9.76904 380.51 9.6418C380.994 9.51455 381.358 9.32792 381.604 9.08192C381.85 8.83591 381.973 8.54325 381.973 8.20393V8.11486H378.627V6.53702H384.124V11.4232H382.801L382.584 10.3162C382.262 10.6131 381.884 10.8549 381.452 11.0415C381.028 11.2196 380.557 11.3511 380.039 11.4359C379.53 11.5293 378.987 11.5759 378.411 11.5759Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M378.411 11.5759C376.646 11.5759 375.319 11.2027 374.428 10.4562C373.546 9.70966 373.104 8.57718 373.104 7.05872C373.104 6.06622 373.329 5.23488 373.779 4.56473C374.237 3.88609 374.894 3.37711 375.751 3.03779C376.616 2.69847 377.651 2.52881 378.856 2.52881C379.619 2.52881 380.319 2.59667 380.955 2.7324C381.6 2.85965 382.16 3.059 382.635 3.33045C383.11 3.60191 383.475 3.94123 383.729 4.34841C383.984 4.75559 384.111 5.23488 384.111 5.78628H381.973C381.973 5.50634 381.889 5.26881 381.719 5.07371C381.558 4.8786 381.333 4.72166 381.045 4.6029C380.765 4.48414 380.442 4.39931 380.078 4.34841C379.721 4.28903 379.344 4.25934 378.945 4.25934C378.419 4.25934 377.936 4.31448 377.494 4.42476C377.053 4.52655 376.672 4.68773 376.349 4.90829C376.035 5.12036 375.789 5.39182 375.611 5.72265C375.442 6.05349 375.357 6.44371 375.357 6.89331V7.19869C375.357 7.82644 375.492 8.33541 375.764 8.72563C376.035 9.10737 376.421 9.38731 376.922 9.56545C377.422 9.74359 378.02 9.83266 378.716 9.83266C379.437 9.83266 380.035 9.76904 380.51 9.6418C380.994 9.51455 381.358 9.32792 381.604 9.08192C381.85 8.83591 381.973 8.54325 381.973 8.20393V8.11486H378.627V6.53702H384.124V11.4232H382.801L382.584 10.3162C382.262 10.6131 381.884 10.8549 381.452 11.0415C381.028 11.2196 380.557 11.3511 380.039 11.4359C379.53 11.5293 378.987 11.5759 378.411 11.5759Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M378.411 11.5759C376.646 11.5759 375.319 11.2027 374.428 10.4562C373.546 9.70966 373.104 8.57718 373.104 7.05872C373.104 6.06622 373.329 5.23488 373.779 4.56473C374.237 3.88609 374.894 3.37711 375.751 3.03779C376.616 2.69847 377.651 2.52881 378.856 2.52881C379.619 2.52881 380.319 2.59667 380.955 2.7324C381.6 2.85965 382.16 3.059 382.635 3.33045C383.11 3.60191 383.475 3.94123 383.729 4.34841C383.984 4.75559 384.111 5.23488 384.111 5.78628H381.973C381.973 5.50634 381.889 5.26881 381.719 5.07371C381.558 4.8786 381.333 4.72166 381.045 4.6029C380.765 4.48414 380.442 4.39931 380.078 4.34841C379.721 4.28903 379.344 4.25934 378.945 4.25934C378.419 4.25934 377.936 4.31448 377.494 4.42476C377.053 4.52655 376.672 4.68773 376.349 4.90829C376.035 5.12036 375.789 5.39182 375.611 5.72265C375.442 6.05349 375.357 6.44371 375.357 6.89331V7.19869C375.357 7.82644 375.492 8.33541 375.764 8.72563C376.035 9.10737 376.421 9.38731 376.922 9.56545C377.422 9.74359 378.02 9.83266 378.716 9.83266C379.437 9.83266 380.035 9.76904 380.51 9.6418C380.994 9.51455 381.358 9.32792 381.604 9.08192C381.85 8.83591 381.973 8.54325 381.973 8.20393V8.11486H378.627V6.53702H384.124V11.4232H382.801L382.584 10.3162C382.262 10.6131 381.884 10.8549 381.452 11.0415C381.028 11.2196 380.557 11.3511 380.039 11.4359C379.53 11.5293 378.987 11.5759 378.411 11.5759Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M227.873 81.4082V72.6665H236.831V74.397H230.075V76.1148H236.042V77.8199H230.075V79.665H236.933V81.4082H227.873Z" fill="#010101" />
            <path
              d="M227.873 81.4082V72.6665H236.831V74.397H230.075V76.1148H236.042V77.8199H230.075V79.665H236.933V81.4082H227.873Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M227.873 81.4082V72.6665H236.831V74.397H230.075V76.1148H236.042V77.8199H230.075V79.665H236.933V81.4082H227.873Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M227.873 81.4082V72.6665H236.831V74.397H230.075V76.1148H236.042V77.8199H230.075V79.665H236.933V81.4082H227.873Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M227.873 81.4082V72.6665H236.831V74.397H230.075V76.1148H236.042V77.8199H230.075V79.665H236.933V81.4082H227.873Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M227.873 81.4082V72.6665H236.831V74.397H230.075V76.1148H236.042V77.8199H230.075V79.665H236.933V81.4082H227.873Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M216.105 81.4082V72.6665H223.168C223.795 72.6665 224.309 72.7937 224.707 73.0482C225.114 73.3027 225.42 73.6378 225.623 74.0535C225.827 74.4691 225.929 74.9315 225.929 75.4404C225.929 75.9664 225.793 76.4584 225.522 76.9165C225.259 77.3661 224.856 77.7224 224.313 77.9853L226.132 81.4082H223.664L222.124 78.3798H218.307V81.4082H216.105ZM218.307 76.6493H222.519C222.875 76.6493 223.155 76.5432 223.358 76.3312C223.571 76.1106 223.677 75.8307 223.677 75.4913C223.677 75.2538 223.63 75.0545 223.537 74.8933C223.443 74.7321 223.312 74.6091 223.142 74.5243C222.972 74.4394 222.765 74.397 222.519 74.397H218.307V76.6493Z" fill="#010101" />
            <path
              d="M216.105 81.4082V72.6665H223.168C223.795 72.6665 224.309 72.7937 224.707 73.0482C225.114 73.3027 225.42 73.6378 225.623 74.0535C225.827 74.4691 225.929 74.9315 225.929 75.4404C225.929 75.9664 225.793 76.4584 225.522 76.9165C225.259 77.3661 224.856 77.7224 224.313 77.9853L226.132 81.4082H223.664L222.124 78.3798H218.307V81.4082H216.105ZM218.307 76.6493H222.519C222.875 76.6493 223.155 76.5432 223.358 76.3312C223.571 76.1106 223.677 75.8307 223.677 75.4913C223.677 75.2538 223.63 75.0545 223.537 74.8933C223.443 74.7321 223.312 74.6091 223.142 74.5243C222.972 74.4394 222.765 74.397 222.519 74.397H218.307V76.6493Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M216.105 81.4082V72.6665H223.168C223.795 72.6665 224.309 72.7937 224.707 73.0482C225.114 73.3027 225.42 73.6378 225.623 74.0535C225.827 74.4691 225.929 74.9315 225.929 75.4404C225.929 75.9664 225.793 76.4584 225.522 76.9165C225.259 77.3661 224.856 77.7224 224.313 77.9853L226.132 81.4082H223.664L222.124 78.3798H218.307V81.4082H216.105ZM218.307 76.6493H222.519C222.875 76.6493 223.155 76.5432 223.358 76.3312C223.571 76.1106 223.677 75.8307 223.677 75.4913C223.677 75.2538 223.63 75.0545 223.537 74.8933C223.443 74.7321 223.312 74.6091 223.142 74.5243C222.972 74.4394 222.765 74.397 222.519 74.397H218.307V76.6493Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M216.105 81.4082V72.6665H223.168C223.795 72.6665 224.309 72.7937 224.707 73.0482C225.114 73.3027 225.42 73.6378 225.623 74.0535C225.827 74.4691 225.929 74.9315 225.929 75.4404C225.929 75.9664 225.793 76.4584 225.522 76.9165C225.259 77.3661 224.856 77.7224 224.313 77.9853L226.132 81.4082H223.664L222.124 78.3798H218.307V81.4082H216.105ZM218.307 76.6493H222.519C222.875 76.6493 223.155 76.5432 223.358 76.3312C223.571 76.1106 223.677 75.8307 223.677 75.4913C223.677 75.2538 223.63 75.0545 223.537 74.8933C223.443 74.7321 223.312 74.6091 223.142 74.5243C222.972 74.4394 222.765 74.397 222.519 74.397H218.307V76.6493Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M216.105 81.4082V72.6665H223.168C223.795 72.6665 224.309 72.7937 224.707 73.0482C225.114 73.3027 225.42 73.6378 225.623 74.0535C225.827 74.4691 225.929 74.9315 225.929 75.4404C225.929 75.9664 225.793 76.4584 225.522 76.9165C225.259 77.3661 224.856 77.7224 224.313 77.9853L226.132 81.4082H223.664L222.124 78.3798H218.307V81.4082H216.105ZM218.307 76.6493H222.519C222.875 76.6493 223.155 76.5432 223.358 76.3312C223.571 76.1106 223.677 75.8307 223.677 75.4913C223.677 75.2538 223.63 75.0545 223.537 74.8933C223.443 74.7321 223.312 74.6091 223.142 74.5243C222.972 74.4394 222.765 74.397 222.519 74.397H218.307V76.6493Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M216.105 81.4082V72.6665H223.168C223.795 72.6665 224.309 72.7937 224.707 73.0482C225.114 73.3027 225.42 73.6378 225.623 74.0535C225.827 74.4691 225.929 74.9315 225.929 75.4404C225.929 75.9664 225.793 76.4584 225.522 76.9165C225.259 77.3661 224.856 77.7224 224.313 77.9853L226.132 81.4082H223.664L222.124 78.3798H218.307V81.4082H216.105ZM218.307 76.6493H222.519C222.875 76.6493 223.155 76.5432 223.358 76.3312C223.571 76.1106 223.677 75.8307 223.677 75.4913C223.677 75.2538 223.63 75.0545 223.537 74.8933C223.443 74.7321 223.312 74.6091 223.142 74.5243C222.972 74.4394 222.765 74.397 222.519 74.397H218.307V76.6493Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M203.521 81.4082L207.861 72.6665H210.329L214.668 81.4082H212.276L211.512 79.8304H206.537L205.774 81.4082H203.521ZM207.339 78.138H210.711L209.782 76.1403C209.748 76.0555 209.693 75.9282 209.617 75.7586C209.54 75.5889 209.464 75.415 209.387 75.2368C209.32 75.0587 209.256 74.8975 209.197 74.7533C209.137 74.6091 209.099 74.52 209.082 74.4861H208.98C208.912 74.6558 208.832 74.8466 208.739 75.0587C208.645 75.2708 208.556 75.4786 208.471 75.6822C208.395 75.8773 208.327 76.0343 208.268 76.153L207.339 78.138Z" fill="#010101" />
            <path
              d="M203.521 81.4082L207.861 72.6665H210.329L214.668 81.4082H212.276L211.512 79.8304H206.537L205.774 81.4082H203.521ZM207.339 78.138H210.711L209.782 76.1403C209.748 76.0555 209.693 75.9282 209.617 75.7586C209.54 75.5889 209.464 75.415 209.387 75.2368C209.32 75.0587 209.256 74.8975 209.197 74.7533C209.137 74.6091 209.099 74.52 209.082 74.4861H208.98C208.912 74.6558 208.832 74.8466 208.739 75.0587C208.645 75.2708 208.556 75.4786 208.471 75.6822C208.395 75.8773 208.327 76.0343 208.268 76.153L207.339 78.138Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M203.521 81.4082L207.861 72.6665H210.329L214.668 81.4082H212.276L211.512 79.8304H206.537L205.774 81.4082H203.521ZM207.339 78.138H210.711L209.782 76.1403C209.748 76.0555 209.693 75.9282 209.617 75.7586C209.54 75.5889 209.464 75.415 209.387 75.2368C209.32 75.0587 209.256 74.8975 209.197 74.7533C209.137 74.6091 209.099 74.52 209.082 74.4861H208.98C208.912 74.6558 208.832 74.8466 208.739 75.0587C208.645 75.2708 208.556 75.4786 208.471 75.6822C208.395 75.8773 208.327 76.0343 208.268 76.153L207.339 78.138Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M203.521 81.4082L207.861 72.6665H210.329L214.668 81.4082H212.276L211.512 79.8304H206.537L205.774 81.4082H203.521ZM207.339 78.138H210.711L209.782 76.1403C209.748 76.0555 209.693 75.9282 209.617 75.7586C209.54 75.5889 209.464 75.415 209.387 75.2368C209.32 75.0587 209.256 74.8975 209.197 74.7533C209.137 74.6091 209.099 74.52 209.082 74.4861H208.98C208.912 74.6558 208.832 74.8466 208.739 75.0587C208.645 75.2708 208.556 75.4786 208.471 75.6822C208.395 75.8773 208.327 76.0343 208.268 76.153L207.339 78.138Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M203.521 81.4082L207.861 72.6665H210.329L214.668 81.4082H212.276L211.512 79.8304H206.537L205.774 81.4082H203.521ZM207.339 78.138H210.711L209.782 76.1403C209.748 76.0555 209.693 75.9282 209.617 75.7586C209.54 75.5889 209.464 75.415 209.387 75.2368C209.32 75.0587 209.256 74.8975 209.197 74.7533C209.137 74.6091 209.099 74.52 209.082 74.4861H208.98C208.912 74.6558 208.832 74.8466 208.739 75.0587C208.645 75.2708 208.556 75.4786 208.471 75.6822C208.395 75.8773 208.327 76.0343 208.268 76.153L207.339 78.138Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M203.521 81.4082L207.861 72.6665H210.329L214.668 81.4082H212.276L211.512 79.8304H206.537L205.774 81.4082H203.521ZM207.339 78.138H210.711L209.782 76.1403C209.748 76.0555 209.693 75.9282 209.617 75.7586C209.54 75.5889 209.464 75.415 209.387 75.2368C209.32 75.0587 209.256 74.8975 209.197 74.7533C209.137 74.6091 209.099 74.52 209.082 74.4861H208.98C208.912 74.6558 208.832 74.8466 208.739 75.0587C208.645 75.2708 208.556 75.4786 208.471 75.6822C208.395 75.8773 208.327 76.0343 208.268 76.153L207.339 78.138Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M197.535 81.5608C196.338 81.5608 195.337 81.3911 194.532 81.0518C193.726 80.704 193.119 80.195 192.712 79.5249C192.313 78.8462 192.114 78.0149 192.114 77.0309C192.114 75.5888 192.576 74.4775 193.501 73.697C194.426 72.9081 195.766 72.5137 197.522 72.5137C198.514 72.5137 199.388 72.6579 200.143 72.9463C200.898 73.2347 201.488 73.6462 201.912 74.1806C202.336 74.715 202.548 75.3512 202.548 76.0893H200.398C200.398 75.699 200.275 75.3682 200.029 75.0967C199.791 74.8168 199.452 74.6047 199.011 74.4605C198.578 74.3163 198.069 74.2442 197.484 74.2442C196.839 74.2442 196.283 74.3502 195.817 74.5623C195.35 74.7744 194.994 75.0755 194.748 75.4658C194.502 75.856 194.379 76.3225 194.379 76.8654V77.1836C194.379 77.7265 194.502 78.1973 194.748 78.596C194.994 78.9862 195.35 79.2873 195.817 79.4994C196.283 79.7115 196.839 79.8175 197.484 79.8175C198.103 79.8175 198.633 79.7497 199.074 79.6139C199.515 79.4782 199.855 79.2746 200.092 79.0032C200.338 78.7317 200.461 78.4009 200.461 78.0106H202.561C202.561 78.7317 202.353 79.3594 201.937 79.8939C201.522 80.4283 200.936 80.8397 200.181 81.1281C199.435 81.4166 198.553 81.5608 197.535 81.5608Z" fill="#010101" />
            <path
              d="M197.535 81.5608C196.338 81.5608 195.337 81.3911 194.532 81.0518C193.726 80.704 193.119 80.195 192.712 79.5249C192.313 78.8462 192.114 78.0149 192.114 77.0309C192.114 75.5888 192.576 74.4775 193.501 73.697C194.426 72.9081 195.766 72.5137 197.522 72.5137C198.514 72.5137 199.388 72.6579 200.143 72.9463C200.898 73.2347 201.488 73.6462 201.912 74.1806C202.336 74.715 202.548 75.3512 202.548 76.0893H200.398C200.398 75.699 200.275 75.3682 200.029 75.0967C199.791 74.8168 199.452 74.6047 199.011 74.4605C198.578 74.3163 198.069 74.2442 197.484 74.2442C196.839 74.2442 196.283 74.3502 195.817 74.5623C195.35 74.7744 194.994 75.0755 194.748 75.4658C194.502 75.856 194.379 76.3225 194.379 76.8654V77.1836C194.379 77.7265 194.502 78.1973 194.748 78.596C194.994 78.9862 195.35 79.2873 195.817 79.4994C196.283 79.7115 196.839 79.8175 197.484 79.8175C198.103 79.8175 198.633 79.7497 199.074 79.6139C199.515 79.4782 199.855 79.2746 200.092 79.0032C200.338 78.7317 200.461 78.4009 200.461 78.0106H202.561C202.561 78.7317 202.353 79.3594 201.937 79.8939C201.522 80.4283 200.936 80.8397 200.181 81.1281C199.435 81.4166 198.553 81.5608 197.535 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M197.535 81.5608C196.338 81.5608 195.337 81.3911 194.532 81.0518C193.726 80.704 193.119 80.195 192.712 79.5249C192.313 78.8462 192.114 78.0149 192.114 77.0309C192.114 75.5888 192.576 74.4775 193.501 73.697C194.426 72.9081 195.766 72.5137 197.522 72.5137C198.514 72.5137 199.388 72.6579 200.143 72.9463C200.898 73.2347 201.488 73.6462 201.912 74.1806C202.336 74.715 202.548 75.3512 202.548 76.0893H200.398C200.398 75.699 200.275 75.3682 200.029 75.0967C199.791 74.8168 199.452 74.6047 199.011 74.4605C198.578 74.3163 198.069 74.2442 197.484 74.2442C196.839 74.2442 196.283 74.3502 195.817 74.5623C195.35 74.7744 194.994 75.0755 194.748 75.4658C194.502 75.856 194.379 76.3225 194.379 76.8654V77.1836C194.379 77.7265 194.502 78.1973 194.748 78.596C194.994 78.9862 195.35 79.2873 195.817 79.4994C196.283 79.7115 196.839 79.8175 197.484 79.8175C198.103 79.8175 198.633 79.7497 199.074 79.6139C199.515 79.4782 199.855 79.2746 200.092 79.0032C200.338 78.7317 200.461 78.4009 200.461 78.0106H202.561C202.561 78.7317 202.353 79.3594 201.937 79.8939C201.522 80.4283 200.936 80.8397 200.181 81.1281C199.435 81.4166 198.553 81.5608 197.535 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M197.535 81.5608C196.338 81.5608 195.337 81.3911 194.532 81.0518C193.726 80.704 193.119 80.195 192.712 79.5249C192.313 78.8462 192.114 78.0149 192.114 77.0309C192.114 75.5888 192.576 74.4775 193.501 73.697C194.426 72.9081 195.766 72.5137 197.522 72.5137C198.514 72.5137 199.388 72.6579 200.143 72.9463C200.898 73.2347 201.488 73.6462 201.912 74.1806C202.336 74.715 202.548 75.3512 202.548 76.0893H200.398C200.398 75.699 200.275 75.3682 200.029 75.0967C199.791 74.8168 199.452 74.6047 199.011 74.4605C198.578 74.3163 198.069 74.2442 197.484 74.2442C196.839 74.2442 196.283 74.3502 195.817 74.5623C195.35 74.7744 194.994 75.0755 194.748 75.4658C194.502 75.856 194.379 76.3225 194.379 76.8654V77.1836C194.379 77.7265 194.502 78.1973 194.748 78.596C194.994 78.9862 195.35 79.2873 195.817 79.4994C196.283 79.7115 196.839 79.8175 197.484 79.8175C198.103 79.8175 198.633 79.7497 199.074 79.6139C199.515 79.4782 199.855 79.2746 200.092 79.0032C200.338 78.7317 200.461 78.4009 200.461 78.0106H202.561C202.561 78.7317 202.353 79.3594 201.937 79.8939C201.522 80.4283 200.936 80.8397 200.181 81.1281C199.435 81.4166 198.553 81.5608 197.535 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M197.535 81.5608C196.338 81.5608 195.337 81.3911 194.532 81.0518C193.726 80.704 193.119 80.195 192.712 79.5249C192.313 78.8462 192.114 78.0149 192.114 77.0309C192.114 75.5888 192.576 74.4775 193.501 73.697C194.426 72.9081 195.766 72.5137 197.522 72.5137C198.514 72.5137 199.388 72.6579 200.143 72.9463C200.898 73.2347 201.488 73.6462 201.912 74.1806C202.336 74.715 202.548 75.3512 202.548 76.0893H200.398C200.398 75.699 200.275 75.3682 200.029 75.0967C199.791 74.8168 199.452 74.6047 199.011 74.4605C198.578 74.3163 198.069 74.2442 197.484 74.2442C196.839 74.2442 196.283 74.3502 195.817 74.5623C195.35 74.7744 194.994 75.0755 194.748 75.4658C194.502 75.856 194.379 76.3225 194.379 76.8654V77.1836C194.379 77.7265 194.502 78.1973 194.748 78.596C194.994 78.9862 195.35 79.2873 195.817 79.4994C196.283 79.7115 196.839 79.8175 197.484 79.8175C198.103 79.8175 198.633 79.7497 199.074 79.6139C199.515 79.4782 199.855 79.2746 200.092 79.0032C200.338 78.7317 200.461 78.4009 200.461 78.0106H202.561C202.561 78.7317 202.353 79.3594 201.937 79.8939C201.522 80.4283 200.936 80.8397 200.181 81.1281C199.435 81.4166 198.553 81.5608 197.535 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M197.535 81.5608C196.338 81.5608 195.337 81.3911 194.532 81.0518C193.726 80.704 193.119 80.195 192.712 79.5249C192.313 78.8462 192.114 78.0149 192.114 77.0309C192.114 75.5888 192.576 74.4775 193.501 73.697C194.426 72.9081 195.766 72.5137 197.522 72.5137C198.514 72.5137 199.388 72.6579 200.143 72.9463C200.898 73.2347 201.488 73.6462 201.912 74.1806C202.336 74.715 202.548 75.3512 202.548 76.0893H200.398C200.398 75.699 200.275 75.3682 200.029 75.0967C199.791 74.8168 199.452 74.6047 199.011 74.4605C198.578 74.3163 198.069 74.2442 197.484 74.2442C196.839 74.2442 196.283 74.3502 195.817 74.5623C195.35 74.7744 194.994 75.0755 194.748 75.4658C194.502 75.856 194.379 76.3225 194.379 76.8654V77.1836C194.379 77.7265 194.502 78.1973 194.748 78.596C194.994 78.9862 195.35 79.2873 195.817 79.4994C196.283 79.7115 196.839 79.8175 197.484 79.8175C198.103 79.8175 198.633 79.7497 199.074 79.6139C199.515 79.4782 199.855 79.2746 200.092 79.0032C200.338 78.7317 200.461 78.4009 200.461 78.0106H202.561C202.561 78.7317 202.353 79.3594 201.937 79.8939C201.522 80.4283 200.936 80.8397 200.181 81.1281C199.435 81.4166 198.553 81.5608 197.535 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M178.777 81.4082V72.6665H187.213V74.397H180.978V76.3693H186.577V78.1126H180.978V81.4082H178.777Z" fill="#010101" />
            <path
              d="M178.777 81.4082V72.6665H187.213V74.397H180.978V76.3693H186.577V78.1126H180.978V81.4082H178.777Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M178.777 81.4082V72.6665H187.213V74.397H180.978V76.3693H186.577V78.1126H180.978V81.4082H178.777Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M178.777 81.4082V72.6665H187.213V74.397H180.978V76.3693H186.577V78.1126H180.978V81.4082H178.777Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M178.777 81.4082V72.6665H187.213V74.397H180.978V76.3693H186.577V78.1126H180.978V81.4082H178.777Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M178.777 81.4082V72.6665H187.213V74.397H180.978V76.3693H186.577V78.1126H180.978V81.4082H178.777Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M169.482 81.4082V72.6665H171.684V79.5504H177.257V81.4082H169.482Z" fill="#010101" />
            <path
              d="M169.482 81.4082V72.6665H171.684V79.5504H177.257V81.4082H169.482Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M169.482 81.4082V72.6665H171.684V79.5504H177.257V81.4082H169.482Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M169.482 81.4082V72.6665H171.684V79.5504H177.257V81.4082H169.482Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M169.482 81.4082V72.6665H171.684V79.5504H177.257V81.4082H169.482Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M169.482 81.4082V72.6665H171.684V79.5504H177.257V81.4082H169.482Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M158.473 81.4082V72.6665H167.431V74.397H160.674V76.1148H166.642V77.8199H160.674V79.665H167.532V81.4082H158.473Z" fill="#010101" />
            <path
              d="M158.473 81.4082V72.6665H167.431V74.397H160.674V76.1148H166.642V77.8199H160.674V79.665H167.532V81.4082H158.473Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M158.473 81.4082V72.6665H167.431V74.397H160.674V76.1148H166.642V77.8199H160.674V79.665H167.532V81.4082H158.473Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M158.473 81.4082V72.6665H167.431V74.397H160.674V76.1148H166.642V77.8199H160.674V79.665H167.532V81.4082H158.473Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M158.473 81.4082V72.6665H167.431V74.397H160.674V76.1148H166.642V77.8199H160.674V79.665H167.532V81.4082H158.473Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M158.473 81.4082V72.6665H167.431V74.397H160.674V76.1148H166.642V77.8199H160.674V79.665H167.532V81.4082H158.473Z"
              fill="black"
              fill-opacity="0.2" />
            <path d="M151.99 81.5608C151.303 81.5608 150.663 81.5184 150.069 81.4335C149.484 81.3572 148.966 81.213 148.517 81.0009C148.067 80.7888 147.719 80.4962 147.473 80.1229C147.227 79.7412 147.104 79.2576 147.104 78.6723C147.104 78.6554 147.104 78.6341 147.104 78.6087C147.104 78.5833 147.108 78.562 147.117 78.5451H149.267C149.259 78.579 149.255 78.6172 149.255 78.6596C149.255 78.702 149.255 78.7487 149.255 78.7996C149.255 79.0625 149.361 79.2746 149.573 79.4358C149.785 79.5885 150.09 79.703 150.489 79.7794C150.888 79.8472 151.354 79.8811 151.889 79.8811C152.118 79.8811 152.347 79.8727 152.576 79.8557C152.813 79.8387 153.038 79.8133 153.25 79.7794C153.471 79.7369 153.666 79.6818 153.835 79.6139C154.005 79.5461 154.141 79.4612 154.243 79.3594C154.344 79.2492 154.395 79.1219 154.395 78.9777C154.395 78.7741 154.294 78.6129 154.09 78.4942C153.895 78.3669 153.628 78.2651 153.288 78.1888C152.958 78.1124 152.58 78.0488 152.156 77.9979C151.74 77.9385 151.308 77.8749 150.858 77.8071C150.408 77.7307 149.971 77.6332 149.547 77.5144C149.132 77.3871 148.754 77.226 148.415 77.0309C148.084 76.8273 147.817 76.5685 147.613 76.2547C147.418 75.9408 147.321 75.5548 147.321 75.0967C147.321 74.6726 147.427 74.2993 147.639 73.977C147.851 73.6546 148.156 73.3832 148.555 73.1626C148.954 72.9421 149.433 72.7809 149.993 72.6791C150.561 72.5688 151.197 72.5137 151.901 72.5137C152.614 72.5137 153.246 72.5731 153.797 72.6918C154.349 72.8021 154.811 72.9675 155.184 73.1881C155.566 73.4001 155.85 73.6674 156.037 73.9897C156.232 74.3036 156.329 74.6641 156.329 75.0713V75.2622H154.192V75.1222C154.192 74.9356 154.098 74.7744 153.912 74.6387C153.734 74.4945 153.479 74.3799 153.148 74.2951C152.826 74.2103 152.449 74.1679 152.016 74.1679C151.448 74.1679 150.985 74.206 150.629 74.2824C150.273 74.3502 150.01 74.4478 149.84 74.575C149.67 74.6938 149.586 74.8253 149.586 74.9695C149.586 75.1561 149.683 75.3046 149.878 75.4149C150.082 75.5251 150.349 75.6142 150.68 75.6821C151.019 75.7499 151.397 75.8136 151.812 75.8729C152.236 75.9238 152.673 75.9875 153.123 76.0638C153.573 76.1402 154.005 76.2377 154.421 76.3565C154.845 76.4667 155.222 76.6237 155.553 76.8273C155.893 77.0309 156.16 77.2854 156.355 77.5907C156.559 77.8876 156.66 78.2609 156.66 78.7105C156.66 79.3976 156.461 79.9533 156.062 80.3774C155.664 80.7931 155.112 81.0942 154.408 81.2808C153.712 81.4675 152.907 81.5608 151.99 81.5608Z" fill="#010101" />
            <path
              d="M151.99 81.5608C151.303 81.5608 150.663 81.5184 150.069 81.4335C149.484 81.3572 148.966 81.213 148.517 81.0009C148.067 80.7888 147.719 80.4962 147.473 80.1229C147.227 79.7412 147.104 79.2576 147.104 78.6723C147.104 78.6554 147.104 78.6341 147.104 78.6087C147.104 78.5833 147.108 78.562 147.117 78.5451H149.267C149.259 78.579 149.255 78.6172 149.255 78.6596C149.255 78.702 149.255 78.7487 149.255 78.7996C149.255 79.0625 149.361 79.2746 149.573 79.4358C149.785 79.5885 150.09 79.703 150.489 79.7794C150.888 79.8472 151.354 79.8811 151.889 79.8811C152.118 79.8811 152.347 79.8727 152.576 79.8557C152.813 79.8387 153.038 79.8133 153.25 79.7794C153.471 79.7369 153.666 79.6818 153.835 79.6139C154.005 79.5461 154.141 79.4612 154.243 79.3594C154.344 79.2492 154.395 79.1219 154.395 78.9777C154.395 78.7741 154.294 78.6129 154.09 78.4942C153.895 78.3669 153.628 78.2651 153.288 78.1888C152.958 78.1124 152.58 78.0488 152.156 77.9979C151.74 77.9385 151.308 77.8749 150.858 77.8071C150.408 77.7307 149.971 77.6332 149.547 77.5144C149.132 77.3871 148.754 77.226 148.415 77.0309C148.084 76.8273 147.817 76.5685 147.613 76.2547C147.418 75.9408 147.321 75.5548 147.321 75.0967C147.321 74.6726 147.427 74.2993 147.639 73.977C147.851 73.6546 148.156 73.3832 148.555 73.1626C148.954 72.9421 149.433 72.7809 149.993 72.6791C150.561 72.5688 151.197 72.5137 151.901 72.5137C152.614 72.5137 153.246 72.5731 153.797 72.6918C154.349 72.8021 154.811 72.9675 155.184 73.1881C155.566 73.4001 155.85 73.6674 156.037 73.9897C156.232 74.3036 156.329 74.6641 156.329 75.0713V75.2622H154.192V75.1222C154.192 74.9356 154.098 74.7744 153.912 74.6387C153.734 74.4945 153.479 74.3799 153.148 74.2951C152.826 74.2103 152.449 74.1679 152.016 74.1679C151.448 74.1679 150.985 74.206 150.629 74.2824C150.273 74.3502 150.01 74.4478 149.84 74.575C149.67 74.6938 149.586 74.8253 149.586 74.9695C149.586 75.1561 149.683 75.3046 149.878 75.4149C150.082 75.5251 150.349 75.6142 150.68 75.6821C151.019 75.7499 151.397 75.8136 151.812 75.8729C152.236 75.9238 152.673 75.9875 153.123 76.0638C153.573 76.1402 154.005 76.2377 154.421 76.3565C154.845 76.4667 155.222 76.6237 155.553 76.8273C155.893 77.0309 156.16 77.2854 156.355 77.5907C156.559 77.8876 156.66 78.2609 156.66 78.7105C156.66 79.3976 156.461 79.9533 156.062 80.3774C155.664 80.7931 155.112 81.0942 154.408 81.2808C153.712 81.4675 152.907 81.5608 151.99 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M151.99 81.5608C151.303 81.5608 150.663 81.5184 150.069 81.4335C149.484 81.3572 148.966 81.213 148.517 81.0009C148.067 80.7888 147.719 80.4962 147.473 80.1229C147.227 79.7412 147.104 79.2576 147.104 78.6723C147.104 78.6554 147.104 78.6341 147.104 78.6087C147.104 78.5833 147.108 78.562 147.117 78.5451H149.267C149.259 78.579 149.255 78.6172 149.255 78.6596C149.255 78.702 149.255 78.7487 149.255 78.7996C149.255 79.0625 149.361 79.2746 149.573 79.4358C149.785 79.5885 150.09 79.703 150.489 79.7794C150.888 79.8472 151.354 79.8811 151.889 79.8811C152.118 79.8811 152.347 79.8727 152.576 79.8557C152.813 79.8387 153.038 79.8133 153.25 79.7794C153.471 79.7369 153.666 79.6818 153.835 79.6139C154.005 79.5461 154.141 79.4612 154.243 79.3594C154.344 79.2492 154.395 79.1219 154.395 78.9777C154.395 78.7741 154.294 78.6129 154.09 78.4942C153.895 78.3669 153.628 78.2651 153.288 78.1888C152.958 78.1124 152.58 78.0488 152.156 77.9979C151.74 77.9385 151.308 77.8749 150.858 77.8071C150.408 77.7307 149.971 77.6332 149.547 77.5144C149.132 77.3871 148.754 77.226 148.415 77.0309C148.084 76.8273 147.817 76.5685 147.613 76.2547C147.418 75.9408 147.321 75.5548 147.321 75.0967C147.321 74.6726 147.427 74.2993 147.639 73.977C147.851 73.6546 148.156 73.3832 148.555 73.1626C148.954 72.9421 149.433 72.7809 149.993 72.6791C150.561 72.5688 151.197 72.5137 151.901 72.5137C152.614 72.5137 153.246 72.5731 153.797 72.6918C154.349 72.8021 154.811 72.9675 155.184 73.1881C155.566 73.4001 155.85 73.6674 156.037 73.9897C156.232 74.3036 156.329 74.6641 156.329 75.0713V75.2622H154.192V75.1222C154.192 74.9356 154.098 74.7744 153.912 74.6387C153.734 74.4945 153.479 74.3799 153.148 74.2951C152.826 74.2103 152.449 74.1679 152.016 74.1679C151.448 74.1679 150.985 74.206 150.629 74.2824C150.273 74.3502 150.01 74.4478 149.84 74.575C149.67 74.6938 149.586 74.8253 149.586 74.9695C149.586 75.1561 149.683 75.3046 149.878 75.4149C150.082 75.5251 150.349 75.6142 150.68 75.6821C151.019 75.7499 151.397 75.8136 151.812 75.8729C152.236 75.9238 152.673 75.9875 153.123 76.0638C153.573 76.1402 154.005 76.2377 154.421 76.3565C154.845 76.4667 155.222 76.6237 155.553 76.8273C155.893 77.0309 156.16 77.2854 156.355 77.5907C156.559 77.8876 156.66 78.2609 156.66 78.7105C156.66 79.3976 156.461 79.9533 156.062 80.3774C155.664 80.7931 155.112 81.0942 154.408 81.2808C153.712 81.4675 152.907 81.5608 151.99 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M151.99 81.5608C151.303 81.5608 150.663 81.5184 150.069 81.4335C149.484 81.3572 148.966 81.213 148.517 81.0009C148.067 80.7888 147.719 80.4962 147.473 80.1229C147.227 79.7412 147.104 79.2576 147.104 78.6723C147.104 78.6554 147.104 78.6341 147.104 78.6087C147.104 78.5833 147.108 78.562 147.117 78.5451H149.267C149.259 78.579 149.255 78.6172 149.255 78.6596C149.255 78.702 149.255 78.7487 149.255 78.7996C149.255 79.0625 149.361 79.2746 149.573 79.4358C149.785 79.5885 150.09 79.703 150.489 79.7794C150.888 79.8472 151.354 79.8811 151.889 79.8811C152.118 79.8811 152.347 79.8727 152.576 79.8557C152.813 79.8387 153.038 79.8133 153.25 79.7794C153.471 79.7369 153.666 79.6818 153.835 79.6139C154.005 79.5461 154.141 79.4612 154.243 79.3594C154.344 79.2492 154.395 79.1219 154.395 78.9777C154.395 78.7741 154.294 78.6129 154.09 78.4942C153.895 78.3669 153.628 78.2651 153.288 78.1888C152.958 78.1124 152.58 78.0488 152.156 77.9979C151.74 77.9385 151.308 77.8749 150.858 77.8071C150.408 77.7307 149.971 77.6332 149.547 77.5144C149.132 77.3871 148.754 77.226 148.415 77.0309C148.084 76.8273 147.817 76.5685 147.613 76.2547C147.418 75.9408 147.321 75.5548 147.321 75.0967C147.321 74.6726 147.427 74.2993 147.639 73.977C147.851 73.6546 148.156 73.3832 148.555 73.1626C148.954 72.9421 149.433 72.7809 149.993 72.6791C150.561 72.5688 151.197 72.5137 151.901 72.5137C152.614 72.5137 153.246 72.5731 153.797 72.6918C154.349 72.8021 154.811 72.9675 155.184 73.1881C155.566 73.4001 155.85 73.6674 156.037 73.9897C156.232 74.3036 156.329 74.6641 156.329 75.0713V75.2622H154.192V75.1222C154.192 74.9356 154.098 74.7744 153.912 74.6387C153.734 74.4945 153.479 74.3799 153.148 74.2951C152.826 74.2103 152.449 74.1679 152.016 74.1679C151.448 74.1679 150.985 74.206 150.629 74.2824C150.273 74.3502 150.01 74.4478 149.84 74.575C149.67 74.6938 149.586 74.8253 149.586 74.9695C149.586 75.1561 149.683 75.3046 149.878 75.4149C150.082 75.5251 150.349 75.6142 150.68 75.6821C151.019 75.7499 151.397 75.8136 151.812 75.8729C152.236 75.9238 152.673 75.9875 153.123 76.0638C153.573 76.1402 154.005 76.2377 154.421 76.3565C154.845 76.4667 155.222 76.6237 155.553 76.8273C155.893 77.0309 156.16 77.2854 156.355 77.5907C156.559 77.8876 156.66 78.2609 156.66 78.7105C156.66 79.3976 156.461 79.9533 156.062 80.3774C155.664 80.7931 155.112 81.0942 154.408 81.2808C153.712 81.4675 152.907 81.5608 151.99 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M151.99 81.5608C151.303 81.5608 150.663 81.5184 150.069 81.4335C149.484 81.3572 148.966 81.213 148.517 81.0009C148.067 80.7888 147.719 80.4962 147.473 80.1229C147.227 79.7412 147.104 79.2576 147.104 78.6723C147.104 78.6554 147.104 78.6341 147.104 78.6087C147.104 78.5833 147.108 78.562 147.117 78.5451H149.267C149.259 78.579 149.255 78.6172 149.255 78.6596C149.255 78.702 149.255 78.7487 149.255 78.7996C149.255 79.0625 149.361 79.2746 149.573 79.4358C149.785 79.5885 150.09 79.703 150.489 79.7794C150.888 79.8472 151.354 79.8811 151.889 79.8811C152.118 79.8811 152.347 79.8727 152.576 79.8557C152.813 79.8387 153.038 79.8133 153.25 79.7794C153.471 79.7369 153.666 79.6818 153.835 79.6139C154.005 79.5461 154.141 79.4612 154.243 79.3594C154.344 79.2492 154.395 79.1219 154.395 78.9777C154.395 78.7741 154.294 78.6129 154.09 78.4942C153.895 78.3669 153.628 78.2651 153.288 78.1888C152.958 78.1124 152.58 78.0488 152.156 77.9979C151.74 77.9385 151.308 77.8749 150.858 77.8071C150.408 77.7307 149.971 77.6332 149.547 77.5144C149.132 77.3871 148.754 77.226 148.415 77.0309C148.084 76.8273 147.817 76.5685 147.613 76.2547C147.418 75.9408 147.321 75.5548 147.321 75.0967C147.321 74.6726 147.427 74.2993 147.639 73.977C147.851 73.6546 148.156 73.3832 148.555 73.1626C148.954 72.9421 149.433 72.7809 149.993 72.6791C150.561 72.5688 151.197 72.5137 151.901 72.5137C152.614 72.5137 153.246 72.5731 153.797 72.6918C154.349 72.8021 154.811 72.9675 155.184 73.1881C155.566 73.4001 155.85 73.6674 156.037 73.9897C156.232 74.3036 156.329 74.6641 156.329 75.0713V75.2622H154.192V75.1222C154.192 74.9356 154.098 74.7744 153.912 74.6387C153.734 74.4945 153.479 74.3799 153.148 74.2951C152.826 74.2103 152.449 74.1679 152.016 74.1679C151.448 74.1679 150.985 74.206 150.629 74.2824C150.273 74.3502 150.01 74.4478 149.84 74.575C149.67 74.6938 149.586 74.8253 149.586 74.9695C149.586 75.1561 149.683 75.3046 149.878 75.4149C150.082 75.5251 150.349 75.6142 150.68 75.6821C151.019 75.7499 151.397 75.8136 151.812 75.8729C152.236 75.9238 152.673 75.9875 153.123 76.0638C153.573 76.1402 154.005 76.2377 154.421 76.3565C154.845 76.4667 155.222 76.6237 155.553 76.8273C155.893 77.0309 156.16 77.2854 156.355 77.5907C156.559 77.8876 156.66 78.2609 156.66 78.7105C156.66 79.3976 156.461 79.9533 156.062 80.3774C155.664 80.7931 155.112 81.0942 154.408 81.2808C153.712 81.4675 152.907 81.5608 151.99 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
            <path
              d="M151.99 81.5608C151.303 81.5608 150.663 81.5184 150.069 81.4335C149.484 81.3572 148.966 81.213 148.517 81.0009C148.067 80.7888 147.719 80.4962 147.473 80.1229C147.227 79.7412 147.104 79.2576 147.104 78.6723C147.104 78.6554 147.104 78.6341 147.104 78.6087C147.104 78.5833 147.108 78.562 147.117 78.5451H149.267C149.259 78.579 149.255 78.6172 149.255 78.6596C149.255 78.702 149.255 78.7487 149.255 78.7996C149.255 79.0625 149.361 79.2746 149.573 79.4358C149.785 79.5885 150.09 79.703 150.489 79.7794C150.888 79.8472 151.354 79.8811 151.889 79.8811C152.118 79.8811 152.347 79.8727 152.576 79.8557C152.813 79.8387 153.038 79.8133 153.25 79.7794C153.471 79.7369 153.666 79.6818 153.835 79.6139C154.005 79.5461 154.141 79.4612 154.243 79.3594C154.344 79.2492 154.395 79.1219 154.395 78.9777C154.395 78.7741 154.294 78.6129 154.09 78.4942C153.895 78.3669 153.628 78.2651 153.288 78.1888C152.958 78.1124 152.58 78.0488 152.156 77.9979C151.74 77.9385 151.308 77.8749 150.858 77.8071C150.408 77.7307 149.971 77.6332 149.547 77.5144C149.132 77.3871 148.754 77.226 148.415 77.0309C148.084 76.8273 147.817 76.5685 147.613 76.2547C147.418 75.9408 147.321 75.5548 147.321 75.0967C147.321 74.6726 147.427 74.2993 147.639 73.977C147.851 73.6546 148.156 73.3832 148.555 73.1626C148.954 72.9421 149.433 72.7809 149.993 72.6791C150.561 72.5688 151.197 72.5137 151.901 72.5137C152.614 72.5137 153.246 72.5731 153.797 72.6918C154.349 72.8021 154.811 72.9675 155.184 73.1881C155.566 73.4001 155.85 73.6674 156.037 73.9897C156.232 74.3036 156.329 74.6641 156.329 75.0713V75.2622H154.192V75.1222C154.192 74.9356 154.098 74.7744 153.912 74.6387C153.734 74.4945 153.479 74.3799 153.148 74.2951C152.826 74.2103 152.449 74.1679 152.016 74.1679C151.448 74.1679 150.985 74.206 150.629 74.2824C150.273 74.3502 150.01 74.4478 149.84 74.575C149.67 74.6938 149.586 74.8253 149.586 74.9695C149.586 75.1561 149.683 75.3046 149.878 75.4149C150.082 75.5251 150.349 75.6142 150.68 75.6821C151.019 75.7499 151.397 75.8136 151.812 75.8729C152.236 75.9238 152.673 75.9875 153.123 76.0638C153.573 76.1402 154.005 76.2377 154.421 76.3565C154.845 76.4667 155.222 76.6237 155.553 76.8273C155.893 77.0309 156.16 77.2854 156.355 77.5907C156.559 77.8876 156.66 78.2609 156.66 78.7105C156.66 79.3976 156.461 79.9533 156.062 80.3774C155.664 80.7931 155.112 81.0942 154.408 81.2808C153.712 81.4675 152.907 81.5608 151.99 81.5608Z"
              fill="black"
              fill-opacity="0.2" />
          </svg>

        </div>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row row-cols-1 row-cols-md-2">
          {%- for article in section.settings.blog.articles limit: section.settings.post_limit -%}
            <div class="col">
              <div class="card border-0">
                <div class="ratio ratio-16x9">
                  {% if article.image != blank %}
                    <img
                      class="card-img-top"
                      src="{{ article.image | img_url: 'medium' }}"
                      alt="{{ article.title }}">
                  {% else %}
                    {{ 'collection-apparel-1' | placeholder_svg_tag: 'card-img-top' }}
                  {% endif %}
                </div>
                <div class="card-body px-0">
                  <a href="{{ article.url }}">
                    <h5 class="card-title fw-bold">{{ article.title }}</h5>
                  </a>
                  <p class="card-text">{{ article.excerpt_or_content }}</p>
                  <a href="{{ article.url }}" class="btn btn-sm btn-outline-secondary w-100">
                    Read in 5 minuts
                  </a>
                </div>
              </div>
            </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "featured-blog",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "default": "Blog posts",
        "label": "Featured Blog title"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "Featured Blog subtitle"
      }, {
        "type": "blog",
        "id": "blog",
        "label": "Featured blog"
      }, {
        "type": "range",
        "id": "post_limit",
        "min": 2,
        "max": 4,
        "step": 1,
        "default": 3,
        "label": "Post Limit"
      }
    ]
  }
{% endschema %}