<section class="py-3 py-md-5" style="background-color: #F0F9FE;">
  <div class="container">
    <div class="row">
      <div class="col-12 d-lg-none">
        <div class="text-center py-3">
          <h2 class="h1 fw-bold text-capitalize">Made with only clean ingredients</h2>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="mb-2">
          {% if section.settings.image %}
            {% assign img_alt = product.title | default: "ingredients" %}
            {{ section.settings.image | img_tag: img_alt, 'w-100', '636x' }}
          {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'w-100' }}
          {% endif %}

        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="py-3 py-lg-5 ps-lg-5">
          <div class="d-none d-lg-block mb-4">
            <h2 class="h1 fw-bold text-capitalize">Made with only clean ingredients</h2>
          </div>
          <div class="custom-accordion mb-4">
            <div class="accordion" id="accordionDetails">
              {% for block in section.blocks %}
                {% if block.type == 'accordion-item' %}
                  <div class="accordion-item border-0 rounded-0 border-bottom">
                    <h2 class="accordion-header fw-bold">
                      <button
                        class="accordion-button bg-transparent rounded-0 shadow-none px-0 {% if forloop.first %}{% else %}collapsed{% endif %}"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#{{ block.id }}"
                        aria-expanded="false"
                        aria-controls="{{ block.id }}">
                        {{ block.settings.header }}
                      </button>
                    </h2>
                    <div
                      id="{{ block.id }}"
                      class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                      data-bs-parent="#accordionDetails">
                      <div class="accordion-body px-0">
                        {{ block.settings.body }}
                      </div>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>

          <a class="btn w-100 mb-2" href="#">View all ingredients</a>
        </div>

      </div>
    </div>
  </div>


</section>

{% schema %}
  {
    "name": "main-product-ingredients",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "name": "Accordion Item",
        "type": "accordion-item",
        "settings": [
          {
            "type": "text",
            "id": "header",
            "label": "Accordion Header",
            "default": "Accordion Header"
          }, {
            "type": "richtext",
            "id": "body",
            "label": "Accordion Body",
            "default": "<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis, quam!</p>"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Product",
        "name": "Product Ingredients",
        "blocks": [
          {
            "type": "accordion-item"
          }, {
            "type": "accordion-item"
          }
        ]
      }
    ]
  }
{% endschema %}